.format-text {
  font-family: "FiraSans-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.relative {
  position: relative;
}
@font-face {
  font-family: "FiraSans-Medium";
  src: url("fonts/FiraSans-Medium.otf") format("opentype");
  src: url("fonts/FiraSans-Medium.woff") format("woff"), url("fonts/FiraSans-Medium.ttf") format("truetype"), url("fonts/FiraSans-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Regular";
  src: url("fonts/FiraSans-Regular.otf") format("opentype");
  src: url("fonts/FiraSans-Regular.woff") format("woff"), url("fonts/FiraSans-Regular.ttf") format("truetype"), url("fonts/FiraSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-MediumItalic";
  src: url("fonts/FiraSans-MediumItalic.otf") format("opentype");
  src: url("fonts/FiraSans-MediumItalic.woff") format("woff"), url("fonts/FiraSans-MediumItalic.ttf") format("truetype"), url("fonts/FiraSans-MediumItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-LightItalic";
  src: url("fonts/FiraSans-LightItalicotf") format("opentype");
  src: url("fonts/FiraSans-LightItalic.woff") format("woff"), url("fonts/FiraSans-LightItalic.ttf") format("truetype"), url("fonts/FiraSans-LightItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Light";
  src: url("fonts/FiraSans-Light.otf") format("opentype");
  src: url("fonts/FiraSans-Light.woff") format("woff"), url("fonts/FiraSans-Light.ttf") format("truetype"), url("fonts/FiraSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Italic";
  src: url("fonts/FiraSans-Italic.otf") format("opentype");
  src: url("fonts/FiraSans-Italic.woff") format("woff"), url("fonts/FiraSans-Italic.ttf") format("truetype"), url("fonts/FiraSans-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-BoldItalic";
  src: url("fonts/FiraSans-BoldItalic.otf") format("opentype");
  src: url("fonts/FiraSans-BoldItalic.woff") format("woff"), url("fonts/FiraSans-BoldItalic.ttf") format("truetype"), url("fonts/FiraSans-BoldItalic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "FiraSans-Bold";
  src: url("fonts/FiraSans-Bold.otf") format("opentype");
  src: url("fonts/FiraSans-Bold.woff") format("woff"), url("fonts/FiraSans-Bold.ttf") format("truetype"), url("fonts/FiraSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.question-and-means-payment #wrapper {
  border-radius: 3px;
  background-color: #ffffff;
  width: 550px;
  padding-top: 30px;
  margin-left: 36px;
}
.question-and-means-payment #wrapper .active {
  background-color: #fc6e51;
}
.question-and-means-payment #wrapper div {
  display: none;
  margin-left: 20px;
  padding-top: 20px;
}
.question-and-means-payment #wrapper span {
  border: 1px solid #d8dadc;
  padding: 10px 30px 8px 30px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  margin-left: 10px;
  font-family: "FiraSans-Regular";
}
.question-and-means-payment #wrapper span:hover,
.question-and-means-payment #wrapper span:active {
  background-color: #fc6e51;
}
.question-and-means-payment #wrapper span:first-child {
  margin-left: 20px;
}
.question-and-means-payment #wrapper.tab1 div.tab1,
.question-and-means-payment #wrapper.tab2 div.tab2,
.question-and-means-payment #wrapper.tab3 div.tab3,
.question-and-means-payment #wrapper.tab4 div.tab4 {
  display: block;
  width: 100%;
}
.question-and-means-payment #wrapper.tab1 span.tab1,
.question-and-means-payment #wrapper.tab2 span.tab2,
.question-and-means-payment #wrapper.tab3 span.tab3,
.question-and-means-payment #wrapper.tab4 span.tab4 {
  color: black;
  cursor: default;
  font-weight: bold;
  text-decoration: none;
}
.slider {
  margin-top: 98px;
  margin-bottom: 53px;
}
.slider img {
  padding: 8px;
}
.slider .owl-stage-outer {
  height: 240px;
}
.instructors .img-circle {
  width: 160px;
  height: 160px;
}
.instructors .instructor-icon {
  background-image: url(../pict/big/icons/instructor-icon-sprite.png);
  width: 70px;
  position: absolute;
  top: 100px;
  left: 120px;
  height: 70px;
}
.instructors #pilot1 {
  background-image: url(../pict/big/icons/instructor-icon-sprite.png);
  width: 70px;
  position: absolute;
  top: 100px;
  left: 120px;
  height: 70px;
  background-position: 0 0;
}
.instructors #pilot2 {
  background-image: url(../pict/big/icons/instructor-icon-sprite.png);
  width: 70px;
  position: absolute;
  top: 100px;
  left: 120px;
  height: 70px;
  background-position: 0 0;
}
.instructors #dispatcher {
  background-image: url(../pict/big/icons/instructor-icon-sprite.png);
  width: 70px;
  position: absolute;
  top: 100px;
  left: 120px;
  height: 70px;
  background-position: 145px 0;
}
.instructors #technician {
  background-image: url(../pict/big/icons/instructor-icon-sprite.png);
  width: 70px;
  position: absolute;
  top: 100px;
  left: 120px;
  height: 70px;
  background-position: 72px 0;
}
.reviews .owl-size_img {
  width: 100px;
}
.contacts {
  line-height: 26px;
}
.contacts h5 {
  font-family: "FiraSans-Medium";
  font-size: 22px;
}
.contacts span {
  font-family: "FiraSans-Italic";
  font-size: 20px;
}
.contacts span.tel {
  font-family: "FiraSans-Medium";
  font-size: 26px;
}
.contacts span.mail {
  font-size: 22px;
  font-family: "FiraSans-Regular";
  width: 23px;
  height: 17px;
  padding-left: 25px;
  background-image: url(../pict/big/icons/mail.png);
  background-position: 16px 30px;
  background-repeat: ;
}
.contacts a {
  background-image: url(../pict/big/icons/adress-icon-sprite.png);
  width: 22px;
  max-height: 23px;
}
.contacts a.vk {
  background-position: 20px 30px;
}
.somit,
.footer-nav {
  background-color: #2c2c2c;
}
header.clearfix li,
footer.clearfix li {
  color: #fff;
  padding: 10px 11px 8px 11px;
  margin-top: 19px;
  margin-bottom: 16px;
  font-family: "FiraSans-Regular";
  font-size: 18px;
}
header.clearfix li:hover,
footer.clearfix li:hover,
header.clearfix li:active,
footer.clearfix li:active {
  outline: 1px solid #fff;
}
header.clearfix a,
footer.clearfix a {
  padding-top: 27px;
  padding-bottom: 26px;
  color: #fff;
  cursor: pointer;
  font-family: "FiraSans-Medium";
  font-size: 22px;
}
.benefits {
  margin-top: 62px;
  font-family: "FiraSans-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
}
.benefits img {
  float: left;
  margin-right: 21px;
}
.briefly {
  margin-top: 95px;
  margin-bottom: 108px;
  font-family: "FiraSans-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #000;
}
.briefly iframe {
  box-shadow: 0px 8px 8px 0px rgba(50, 50, 50, 0.75);
}
.price {
  margin-top: 92px;
  margin-bottom: 98px;
}
.price p {
  font-family: "FiraSans-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  color: #444444;
  font-family: "FiraSans-Italic";
}
.price .parameter {
  font-family: "FiraSans-Regular";
  font-size: 18px;
  line-height: 24px;
  color: #000;
  color: #444444;
}
.price form {
  margin-top: 60px;
}
.price form .prise-width {
  width: 200px;
}
.price form .row {
  margin-bottom: 20px;
}
.price form .flight-route select {
  width: 350px;
}
.price form .number-of-persons select {
  width: 96px;
}
.price form select {
  background-image: url(../pict/big/icons/form-icon-arrow.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  outline: none;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.price form input {
  border-radius: 3px;
  height: 35px;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  padding-left: 30px;
}
.price form .name input {
  background-image: url(../pict/big/icons/form-icon-man.png);
}
.price form .phone input {
  background-image: url(../pict/big/icons/form-icon-phone.png);
}
.flight-plan {
  margin-top: 53px;
  margin-bottom: 76px;
  position: relative;
  color: #454545;
  width: 100%;
}
.flight-plan .visible-xs {
  margin-left: 20px;
}
.flight-plan .flightplan-line {
  padding-left: 46px;
  background-image: url(../pict/big/icons/ballon.png);
  background-repeat: no-repeat;
  width: 45px;
  height: 65px;
  padding-top: 15px;
  text-align: center;
}
.flight-plan #baloon1 {
  background-position: 0 0;
}
.flight-plan #baloon2 {
  background-position: -45px 0px;
}
.flight-plan #baloon3 {
  background-position: -90px 0;
}
.flight-plan #baloon4 {
  background-position: -136px 0;
}
.flight-plan #baloon5 {
  background-position: -182px 0;
}
.flight-plan .timer .row {
  position: absolute;
  bottom: 0;
  left: 0px;
  max-width: 1500px;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
  color: #fff;
  font-family: "FiraSans-Medium";
  font-size: 32px;
}
.flight-plan .timer p {
  padding-top: 25px;
}
.flight-plan {
  background-image: url(../pict/big/bg/bg-flight-map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 685px;
}
.somit-promo {
  height: 645px;
  background-position: center 0px;
  background-image: url(../pict/big/bg/bgbg.png);
  background-repeat: no-repeat;
}
/*       __ ____                    _____ __       ______ 
     _/_//_/ /_  ___  ____  ___  / __(_) /______/ ____ \
   _/_//_// __ \/ _ \/ __ \/ _ \/ /_/ / __/ ___/ / __ `/
 _/_//_/ / /_/ /  __/ / / /  __/ __/ / /_(__  ) / /_/ / 
/_//_/  /_.___/\___/_/ /_/\___/_/ /_/\__/____/\ \__,_/  
                                               \____/   
                                        */
@media (min-width: 992px) {
  .benefit-item:nth-child(2),
  .benefit-item:nth-child(3) {
    margin-top: 35px;
  }
}
.nav-menu ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav-menu li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.nav-menu a {
  display: inline-block;
  padding: 4px 8px;
}
.sandwitch {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-image: url(../pict/img.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 50%;
}
.promo-slogan {
  font-family: "FiraSans-Medium";
  font-size: 66px;
  color: #fff;
}
.wrapper-main {
  margin: 0 auto;
}
