// colors

@coral: #fc6e51;
@green: #a0d468;
@grey: #536167;
@white: #fff;
@bg-color: #f0f2f5;
@column-color: #b3d4f9;
@light-grey: #d8dadc;

// font
@font: "FiraSans-Regular";
@text-size-typograhy: 15px;


// border-size: 
@border: 1px solid;
@border-input: 2px solid;
@border-btn: 2px solid;
@bdrs: 3px;

// value
@width-grid: 62px;
@height-grid: 34px;
@height-img: 258px;
@width-img: 258px;

.format-text {
	font-family:"FiraSans-Regular";
	font-size: 18px;
	line-height: 24px;
	color: #000;
}