// colors

@coral: #ec5f5f;
@white: #fff;
@light-grey: #d8dadc;

// font
@font: "FiraSans-Regular";
@font-size: 18px;

// border-size: 
@border: 1px solid;
@border-input: 2px solid;
@border-btn: 2px solid;
@bdrs: 3px;

// value
@width-grid: 62px;
@height-grid: 34px;
@height-img: 258px;
@width-img: 258px;